<div class="devtools-map-content-object{{#if @last}} last{{/if}}">
	<a href="#{{getProp "_id"}}" class="devtools-map-content-object-title{{#when "_isComplete"}} devtools-map-completed{{/when}}{{#when "_isOptional"}} devtools-map-optional{{/when}}">
		<span class="devtools-map-abc-id">{{getProp "_id"}}</span>
	    <span class="devtools-map-abc-label">{{getTitle}}</span>
	</a>
	<div class="devtools-map-article-container">
		{{#eachChild}}
			<div class="devtools-map-article{{#if @last}} last{{/if}}">
	            <a href="#{{getProp "_id"}}" class="devtools-map-article-title{{#when "_isComplete"}} devtools-map-completed{{/when}}{{#when "_isOptional"}} devtools-map-optional{{/when}}">
	            	<div class="devtools-map-article-header">
	            		<span class="devtools-map-abc-id">{{getProp "_id"}}</span>
	            		{{#isTrickled}}<div class="trickled"></div>{{/isTrickled}}
	            	</div
	            	<span class="devtools-map-abc-label">{{getTitle}}</span>
	            </a>
	            <div class="devtools-map-article-blocks">
	            	{{#eachChild}}
		                <div class="devtools-map-block{{#if @last}} last{{/if}}{{#isTrickled}} trickled{{/isTrickled}}">
		                    <a href="#{{getProp "_id"}}" class="devtools-map-block-title{{#when "_isComplete"}} devtools-map-completed{{/when}}{{#when "_isOptional"}} devtools-map-optional{{/when}}">
		                        <span class="devtools-map-abc-id">{{getProp "_id"}}</span>
		                    </a>
		                    <div class="devtools-map-block-components">
			                	{{#eachChild}}
				                	<a href="#{{getProp "_id"}}" class="devtools-map-component{{#if @last}} last{{/if}} devtools-map-component-{{@index}}{{#when "_isComplete"}} devtools-map-completed{{/when}}{{#when "_isOptional"}} devtools-map-optional{{/when}} {{#when "_isSubmitted"}}{{#when "_isCorrect"}}correct{{else}}incorrect{{/when}}{{/when}}">
				                        <span class="devtools-map-abc-id">{{getProp "_id"}}</span>
				                        <div class="devtools-map-component-info">
				                        	<span class="devtools-map-component-type">{{getProp "_component"}}</span>
				                        	<span class="devtools-map-component-mark"></span>
				                    	</div>
				                        <span class="devtools-map-component-label">{{getTitle}}</span>
				                    </a>
			                    {{/eachChild}}
		                	</div>
		                </div>
	                {{/eachChild}}
	            </div>
		    </div>
	    {{/eachChild}}
    </div>
</div>